.h2about{
    color: #3c3b3b;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: .25em;
    line-height: 1.65;
    margin: 0 0 1em;
    text-transform: uppercase;

    &:hover{
        color: #2e59ba!important;
    }
}